/////////////////////////////////////-+++-
// Spriting
// playing around with css spriting, animations and box-shadow

/////////////////////////////////////-+++-
// 1. Variables

$size: 6px;
$horizontal-pixels: 22;
$vertical-pixels: 39;
$sprite-width: $size * $horizontal-pixels;
$sprite-height: $size * $vertical-pixels;
// these get overwritten
$hat: #ffffff;
$eyes: #ffffff;
$cloak: #ffffff;
$pants1: #ffffff;
$pants2: #ffffff;

/////////////////////////////////////-+++-
// 2. Setup - basic positioning, etc.

html {
  overflow: hidden;
}

.Wizard { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: -$sprite-height*.5 0 0 0;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: $size;
        height: $size;
    }
}


/////////////////////////////////////-+++-
// 3. Sprites - here is where it gets funky


$sprite1: · · · · · · · · · · · · · · · · · · · · · ·
          · · · · · · · · · · · · · ▓ █ · · · · · · ·
          · · · · · · · · · · · ▓ █ █ ▓ · · · · · · ·
          · · · · · · · · · · █ █ █ ▓ ▒ · · · · · · ·
          · · · · · · · · ▒ █ █ █ ▓ ▒ ░ · · · · · · ·
          · · · · · · · ▒ █ █ █ █ ▒ ▒ ░ · · · · · · ·
          · · · · ▓ █ ▓ ▓ █ █ █ ▓ ▒ ▒ ░ ▒ · · · · · ·
          · · ▓ █ █ █ ▓ █ █ █ █ ▓ ▒ ▒ ░ ▓ █ ▓ · · · ·
          · ▓ █ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ░ ▒ ▓ █ ▓ · ·
          · ▓ █ █ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ▒ ▒ ▓ █ ▓ ·
          · · █ █ █ █ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▓ █ █ █ ▓
          · · ▒ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓
          · · · ▒ ▓ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓ ░
          · · · · ¦ ▒ ▓ █ █ █ █ █ █ █ █ █ █ █ █ ▒ ░ ¦
          · · · · · · o ® ▓ ▓ ▓ █ █ █ █ █ ▓ ▒ ░ ░ ¦ ·
          · · · · · ¤ o © o o ® ▒ ▓ ▓ ▓ ▒ ░ ░ ¦ ¦ · ·
          · · · · ¤ ¤ × o o o © o ¤ ¤ ¤ ¤ ¦ ¦ · · · ·
          · · · ¤ × ¤ × × × × × × ¤ ¤ ¤ × ¤ ¤ · · · ·
          · · ¤ ≡ × ¤ ¤ × × × × × × × × × × ¤ · · · ·
          · · × ■ ≡ × ¤ ¤ ¤ ¤ ¤ × × × × × ≡ × · · · ·
          · ¤ ≡ ■ ■ ≡ ≡ o × × × × × × ≡ ■ ■ ≡ ¤ · · ·
          · × ≡ ■ ■ ■ × o ¤ ≡ ≡ ≡ ■ ■ ■ ■ ■ ≡ × · · ·
          · × ≡ ≡ ■ ≡ o o o ≡ ■ ■ ■ ■ ■ ■ ■ ■ ≡ · · ·
          · · × ≡ ≡ × a o o ¤ ■ ■ ■ ■ ■ ■ ≡ ≡ ■ × · ·
          · · · ¤ ≡ a i x o o ≡ ■ ■ ■ ■ × × × ≡ ≡ · ·
          · · ¤ × ¤ i i x x o × ≡ ■ ■ ≡ × × × × × · ·
          · · × × ¤ y i y x a q × ≡ ≡ × × × × × · · ·
          · ¤ ≡ × o x a y y a a × × × × × × ¤ · · · ·
          ¤ × ■ ≡ ░ ░ x y x y i ≡ × × × ¤ o × · · · ·
          ¤ ≡ ■ × █ ░ ▓ █ x x i i ¤ o o ¤ × ≡ ¤ · · ·
          × ■ ≡ o ▓ ░ █ █ o x i i x × × × × ≡ ■ · · ·
          · ≡ ≡ o ▒ ▓ ░ ░ o o a i x × × ≡ ≡ ■ ■ ≡ · ·
          · · × █ █ ▓ ▒ ▒ o o ▓ a x ¤ ≡ ■ ■ ■ ■ ■ × ·
          · · ▓ █ ▓ ▒ ▒ o o o ▓ █ ░ ░ ≡ ■ ■ ■ ■ ≡ × ·
          · · · · · · · · · o o ▓ ░ ▓ × ■ ■ ■ ≡ × · ·
          · · · · · · · · · · o ▒ ▓ ░ × ■ ■ ≡ × · · ·
          · · · · · · · · · · ▒ ▓ █ █ ¤ ≡ × ¤ · · · ·
          · · · · · · · · · · ▒ █ █ ▒ ¤ ¤ · · · · · ·
          · · · · · · · · · · · █ █ ▒ · · · · · · · ·;

$sprite2: · · · · · · · · · · · ▓ · · · · · · · · · · 
          · · · · · · · · · · ▓ █ · · · · · · · · · · 
          · · · · · · · · · · █ █ ▒ · · · · · · · · · 
          · · · · · · · · · █ █ █ ▒ · · · · · · · · · 
          · · · · · · · · ▒ █ █ █ ▒ ▒ · · · · · · · · 
          · · · · · · · ▒ █ █ █ █ ▒ ▒ ░ · · · · · · · 
          · · · · ▓ █ ▓ ▓ █ █ █ ▓ ▒ ▒ ░ ░ · · · · · · 
          · · ▓ █ █ █ ▓ █ █ █ █ ▓ ▒ ▒ ▒ ░ ▓ ▓ · · · · 
          · ▓ █ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ▒ ▒ ▓ █ ▓ · · 
          · ▓ █ █ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ▓ █ █ █ ▓ · 
          · · █ █ █ █ █ █ █ █ █ █ █ ▓ ▓ ▓ █ █ █ █ █ ▓ 
          · · ░ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓ 
          · · · ░ ▓ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓ ░ 
          · · · · ¦ ▒ ▓ █ █ █ █ █ █ █ █ █ █ █ █ ░ ░ ¦ 
          · · · · · · o ® ▓ ▓ ▓ █ █ █ █ █ ▓ ▒ ░ ░ ¦ · 
          · · · · · ¤ o © o o ® ▒ ▓ ▓ ▓ ▒ ░ ░ ¦ ¦ · · 
          · · · · ¤ ¤ × o o o © o ¤ ¤ ¤ ¤ ¦ ¦ · · · ·
          · · · ¤ ¤ ¤ × × × × × × ¤ ¤ ¤ × ¤ ¤ · · · ·
          · · ¤ × × ¤ ¤ × × × × × × × × × × ¤ · · · ·
          · ¤ × ≡ ≡ × ¤ ¤ ¤ ¤ ¤ × × × × ≡ ■ × · · · ·
          · ≡ ≡ ■ ≡ ≡ × o × × × × × ≡ ■ ■ ■ ■ × · · ·
          · ≡ ■ ■ ■ ≡ ¤ o o × ≡ ≡ ≡ ■ ■ ■ ■ ■ ■ · · ·
          · × ≡ ≡ ≡ ¤ o o o o ≡ ≡ ■ ■ ■ ■ ■ ■ ■ ¤ · ·
          · · × × ¤ o o o ▒ ▒ ¤ ≡ ≡ ■ ■ ■ ■ ■ ■ ¤ · ·
          · · ¤ ¤ o o a ░ ░ █ ¤ ¤ × ≡ ■ ■ ■ ■ ≡ ¤ · ·
          · · × × o a i ░ █ █ ¤ ¤ ¤ × × × ≡ ≡ ¤ · · ·
          · ¤ ≡ ¤ a i i ¦ ▓ ▓ ░ ¤ ¤ ¤ × × × ¤ ¤ · · ·
          · ≡ ¤ ¤ a i y y ¦ ░ ░ ¦ ¤ ¤ ¤ ¤ ¤ ¤ × × · ·
          ¤ × ¤ ░ a i y x x x o ¦ ¤ ¤ ¤ ¤ ¤ × × ≡ × ·
          ¤ ≡ ¤ █ ░ a x x x x o a ¤ x ¤ × × × ¤ ■ ≡ ·
          ¤ ¤ o ▓ ░ ░ █ ▒ x o o ¦ a ¦ ¤ ¤ × × ■ ■ ≡ ·
          ¤ o o ▒ ░ ▓ ▒ ¦ o · · · ¦ ¦ x ¤ × × ≡ ■ ≡ ·
          o · · ¦ ░ ░ ¦ ¦ o · · · · ░ ¦ ¦ ¤ × ≡ ≡ × ·
          · · ░ █ ▓ ░ ¦ o o · · · · o ¦ ░ ¤ × × ≡ ¤ ·
          ▒ ▓ █ █ █ ▓ ¦ o · · · · · ¦ ▒ ░ ¤ × × ¤ · ·
          · o ░ ▒ ▓ ▓ ¦ o · · · · · · · · ¤ ¤ ¤ · · ·
          · · · o o o o · · · · · · · · · · · · · · ·
          · · · · · · · · · · · · · · · · · · · · · ·
          · · · · · · · · · · · · · · · · · · · · · ·
          · · · · · · · · · · · · · · · · · · · · · ·;

$sprite3: · · · · · · · · · · · · · ▓ · · · · · · · · 
          · · · · · · · · · · · · ▓ █ · · · · · · · · 
          · · · · · · · · · · · ▓ █ ▓ · · · · · · · · 
          · · · · · · · · · · █ █ █ ▒ · · · · · · · · 
          · · · · · · · · ▒ █ █ █ ▓ ▒ · · · · · · · · 
          · · · · · · · ▒ █ █ █ █ ▒ ▒ ░ · · · · · · · 
          · · · · ▓ █ ▓ ▓ █ █ █ ▓ ▒ ▒ ░ ░ · · · · · · 
          · · ▓ █ █ █ ▓ █ █ █ █ ▓ ▒ ▒ ▒ ░ ▓ ▓ · · · · 
          · ▓ █ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ▒ ▒ ▓ █ ▓ · · 
          · ▓ █ █ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ▒ ▓ █ █ ▓ · 
          · · █ █ █ █ █ █ █ █ █ █ ▓ ▓ ▒ ▒ ▓ █ █ █ █ ▓ 
          · · ░ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓ 
          · · · ░ ▓ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓ ░ 
          · · · · ¦ ▒ ▓ █ █ █ █ █ █ █ █ █ █ █ █ ░ ░ ¦ 
          · · · · · · o ® ▓ ▓ ▓ █ █ █ █ █ ▓ ▒ ░ ░ ¦ · 
          · · · · · ¤ o © o o ® ▒ ▓ ▓ ▓ ▒ ░ ░ ¦ ¦ · · 
          · · · · ¤ ¤ × o o o © o ¤ ¤ ¤ ¤ ¦ ¦ · · · ·
          · · · ¤ × ¤ × × × × × × ¤ ¤ ¤ × ¤ ¤ · · · ·
          · · ¤ ≡ × ¤ ¤ × × × × × × × × × × ¤ · · · ·
          · · × ■ ≡ × ¤ ¤ ¤ ¤ ¤ × × × × × × ≡ × · · ·
          · ¤ ≡ ■ ■ ≡ ≡ o o × × × × × ≡ ≡ ■ ■ ≡ × · ·
          · × ≡ ■ ■ ■ ¤ o o o ≡ ≡ ≡ ■ ■ ■ ■ ■ ■ ≡ · ·
          · ¤ ≡ ≡ ■ ≡ o o o o ¤ ≡ ■ ■ ■ ■ ■ ■ ■ ■ ¤ ·
          · · ¤ ≡ ≡ × o o o o ¤ × ≡ ■ ■ ■ ■ ■ ■ ■ ≡ ·
          · · · o ≡ o q x o o o × × ≡ ■ ≡ × × ≡ ≡ × ·
          · · ¤ × ¤ q i x x x o ¦ × × × × × × × × ¤ ·
          · · ≡ ¤ x i i y x x ¦ ▒ ░ ¤ ¤ × × × × ¤ · ·
          · ≡ ¤ ¤ q i y y x x ¦ █ ░ ¤ ¤ ¤ ¤ ¤ ¤ · · ·
          ¤ × ■ × y i y x x x q ¦ ▒ ░ ¤ ¤ ¤ × × · · ·
          ¤ ■ ¤ ░ x a x x x o q q ¦ ¦ ¦ × × × ≡ ¤ · ·
          ¤ ■ ¤ ▒ ░ ░ x x x o ¦ i x ¤ × × × ≡ ■ ≡ ¤ ·
          ¤ ≡ o ▒ ░ █ █ ¦ o o x q q x × × ≡ ■ ■ ■ ≡ ·
          · ¤ o ¦ ░ ▓ ░ ¦ o o o █ o ░ ¤ × ≡ ■ ■ ■ × ·
          · · · ░ ▓ ░ ░ o · · o ░ ░ o ¤ × ≡ ■ ■ ≡ ¤ ·
          · · · █ █ ▓ ░ o · · · o ░ ¦ ¤ × ≡ ≡ ≡ ¤ · ·
          · · █ █ ▓ ░ ░ o · · · ░ ▓ ░ o × ≡ ≡ ¤ · · ·
          · ¦ ▒ ▒ ¦ ¦ o · · · · ▓ ▓ ░ o ¤ ¤ · · · · ·
          · · · · · · · · · · · · · · · · · · · · · ·
          · · · · · · · · · · · · · · · · · · · · · ·
          · · · · · · · · · · · · · · · · · · · · · ·;

$sprite4: · · · · · · · · · · · · · · · · · · · · · · 
          · · · · · · · · · · · · · · · · · · · · · · 
          · · · · · · · · · · · · · ▓ ▓ █ · · · · · · 
          · · · · · · · · · · ▓ █ █ █ █ ▓ · · · · · · 
          · · · · · · · · ▒ ▓ █ █ █ █ ▓ · · · · · · · 
          · · · · · · · ▒ █ █ █ █ ▓ ▒ ░ · · · · · · · 
          · · · · ▓ █ ▓ ▓ █ █ █ ▓ ▒ ▒ ░ ▒ · · · · · · 
          · · ▓ █ █ █ ▓ █ █ █ █ ▓ ▒ ░ ░ ▒ ▒ ▓ · · · · 
          · ▓ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ░ ░ ▒ ▒ ▓ ▓ · · 
          · ▓ █ █ █ █ █ █ █ █ █ ▓ ▓ ▒ ▒ ▒ ▒ ▒ ▓ █ ▓ · 
          · · █ █ █ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ▓ █ █ █ ▓ 
          · · ░ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓ 
          · · · ░ ▓ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓ ░ 
          · · · · ¦ ▒ ▓ █ █ █ █ █ █ █ █ █ █ █ █ ░ ░ ¦ 
          · · · · · · o ® ▓ ▓ ▓ █ █ █ █ █ ▓ ▒ ░ ░ ¦ · 
          · · · · · ¤ o © o o ® ▒ ▓ ▓ ▓ ▒ ░ ░ ¦ ¦ · · 
          · · · · ¤ ¤ × o o o © o ¤ ¤ ¤ ¤ ¦ ¦ · · · ·
          · · · ¤ ¤ ¤ × × × × × × ¤ ¤ ¤ × ¤ ¤ · · · ·
          · · ¤ ¤ × ¤ ¤ × × × × × × × × × × ¤ · · · ·
          · ¤ ¤ × ≡ × ¤ ¤ ¤ ¤ ¤ × × × × × × ≡ · · · ·
          ¤ × × × × ≡ × o × × × × × × ≡ ■ ■ ≡ × · · ·
          ¤ × ≡ ≡ ≡ × ¤ o ¤ × ≡ ≡ ■ ■ ■ ■ ■ ■ × · · ·
          ▓ ¦ × × ¤ ¤ o q o × ■ ■ ■ ■ ■ ■ ■ ■ ≡ · · ·
          ░ ▒ ▓ ░ ░ o q x o ¤ ≡ ■ ■ ■ ■ ■ ■ ■ ■ × · ·
          · ░ ▒ ░ × q q x x o ¤ ■ ■ ■ ■ ■ ■ ≡ ≡ × · ·
          · · · × × ¤ a x x q ¤ ≡ ■ ■ × × × × × × · ·
          · · ¤ × ¤ ¤ a q q o ¦ × ≡ ≡ × × × × × · · ·
          · · ¤ × o o a a o y i × × × × × × ¤ · · · ·
          · ¤ ≡ × o ▓ o a x i i ¦ × × × ¤ o × × · · ·
          · ¤ ≡ ¤ o ░ ▒ o ▓ i q y ¤ o o ¤ × ≡ ≡ × · ·
          · · ¤ ¤ o · ░ ░ ░ i q y x x × ≡ × ≡ ≡ ≡ × ·
          · · · · · · ▒ ▒ ░ q q x x x ¤ ≡ ≡ ≡ ■ ≡ × ·
          · · · · · ▓ ▓ ▒ ░ ▓ ░ x x o o ¤ ■ ■ ■ ≡ × ·
          · · · · · · · · o ▓ ░ █ ▓ ¦ o ¤ ■ ■ ■ ≡ · ·
          · · · · · · · · · o ░ ▓ ░ ¦ · · ■ ■ ≡ × · ·
          · · · · · · · · · ▒ ▒ ▒ o · · · ≡ ≡ × · · ·
          · · · · · · · · ¦ █ ▓ ▒ o · · · × × · · · ·
          · · · · · · · · █ █ ▓ ▒ o · · · · · · · · ·
          · · · · · · · ▓ █ ▓ ▒ o o · · · · · · · · ·
          · · · · · · · · · · · · · · · · · · · · · ·;

$sprite5: · · · · · · · · · · · · · · · · · · · · · · 
          · · · · · · · · · · · · · · · · · · · · · · 
          · · · · · · · · · · · · · · ▓ ▓ · · · · · · 
          · · · · · · · · · · · ▓ █ █ █ █ █ · · · · · 
          · · · · · · · · · ▒ █ █ █ █ ▓ ▓ · · · · · · 
          · · · · · · · ▓ ▒ █ █ █ █ ▓ ▒ ░ · · · · · · 
          · · · · ▓ █ ▓ █ █ █ █ ▓ ▒ ▒ ░ ░ · · · · · · 
          · · ▓ █ █ █ █ █ █ █ █ ▓ ▒ ░ ░ ░ ▒ ▒ · · · · 
          · ▓ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ░ ░ ▒ ▒ ▒ ▓ · · 
          · ▓ █ █ █ █ █ █ █ █ █ ▓ ▓ ▒ ▒ ▒ ▒ ▒ ▓ █ ▓ · 
          · · █ █ █ █ █ █ █ █ █ █ █ ▓ ▒ ▒ ▒ ▓ █ █ █ ▓ 
          · · ░ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓ 
          · · · ░ ▓ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ ▓ ░ 
          · · · · ¦ ▒ ▓ █ █ █ █ █ █ █ █ █ █ █ █ ░ ░ ¦ 
          · · · · · · o ® ▓ ▓ ▓ █ █ █ █ █ ▓ ▒ ░ ░ ¦ · 
          · · · · · ¤ o © o o ® ▒ ▓ ▓ ▓ ▒ ░ ░ ¦ ¦ · · 
          · · · · · ¤ × o o o © o ¤ ¤ ¤ ¤ ¦ ¦ · · · ·
          · · · · ¤ ¤ ¤ ¤ × × × × ¤ ¤ ¤ × ¤ ¤ · · · ·
          · · ¤ ▒ ░ × ¤ ¤ × × × × × × × × × ¤ · · · ·
          · ¤ × █ ▒ ░ × ¤ o ¤ ¤ × × × × × × ≡ × × · ·
          · ¤ ▒ ▓ ▒ █ ░ o o × × × × × ≡ ≡ ■ ■ ≡ × · ·
          · · ▓ ▓ ▒ ▒ o o o o ≡ ≡ ≡ ■ ■ ■ ■ ■ ■ ≡ × ·
          · · ░ ▓ ¦ o ¤ o o o ¤ ■ ■ ■ ■ ■ ■ ■ ≡ ≡ × ·
          · · · ░ o o o o o o o ≡ ■ ■ ■ ■ ■ ≡ × × × ×
          · · · ¤ o o o o o o o o ≡ ■ ■ ■ ■ × × × × ×
          · · · ¤ ¤ o o o x q q o × ≡ ≡ ≡ ≡ × × × ¤ ¤
          · · · ¤ × o o x a i x q × × ≡ ≡ × × × ¤ ¤ ·
          · · · × × o q y i a y × o × × × × ¤ ¤ ¤ · ·
          · · · × ¤ o x i i y y x o ¤ o o ¤ ¤ × × × ·
          · · · ¤ · · x i i y y x o o ¤ × × × ■ ≡ × ·
          · · · · · · x i a y x x o o o ¤ ≡ × ≡ ■ ≡ ·
          · · · · · · ▓ ░ x x x o o o o o ≡ ■ ≡ ■ ≡ ·
          · · · · · · ▓ ░ ▓ ▓ o · · · o o × ■ ■ ■ × ·
          · · · · · · ▒ ░ ▓ ░ ░ · · · · · · ≡ ■ ≡ × ·
          · · · · · · ▒ ▒ ▒ ¦ o · · · · · · · ≡ × · ·
          · · · · · ▒ ▓ █ ▒ ¦ o · · · · · · · × · · ·
          · · · · ▓ █ █ █ ▓ ░ o · · · · · · · · · · ·
          · · · · · ¦ ¦ ░ ░ ¦ o · · · · · · · · · · ·
          · · · · · · · · · · · · · · · · · · · · · ·
          · · · · · · · · · · · · · · · · · · · · · ·;


/////////////////////////////////////-+++-
// 4. Mixins


@function getColor($let) {
    @if $let == · { @return transparent; } 
    @else if $let == o { @return black; } 
    @else if $let == █ { @return $hat; } 
    @else if $let == ▓ { @return darken($hat, 10%); } 
    @else if $let == ▒ { @return darken($hat, 20%); } 
    @else if $let == ░ { @return darken($hat, 30%); } 
    @else if $let == ¦ { @return darken($hat, 40%); } 
    @else if $let == ® { @return $eyes; } 
    @else if $let == © { @return darken($eyes, 30%); } 
    @else if $let == ■ { @return $cloak; } 
    @else if $let == ≡ { @return darken($cloak, 10%); } 
    @else if $let == × { @return darken($cloak, 20%); } 
    @else if $let == ¤ { @return darken($cloak, 30%); } 
    @else if $let == y { @return $pants1; } 
    @else if $let == x { @return darken($pants1, 10%); } 
    @else if $let == i { @return $pants2; } 
    @else if $let == a { @return darken($pants2, 10%); } 
    @else if $let == q { @return darken($pants2, 20%); } 
}


@function getBoxShadow($sprite) {

  $sh: ();
  $y: 0;

  @for $i from 0 to length($sprite) {
    $x: $i%$horizontal-pixels;
    $y: if($x==0,$y + 1,$y);
    $col: nth($sprite,$i + 1);
    $sh: append($sh,$x*$size $y*$size 0 0 getColor($col),comma);
  }

  @return $sh;
}


// a mixin to color the sprites, and set the animation
@mixin wizard($DOM, $which-wizard) {

  @for $w from 1 through length($which-wizard) {
    @if $w == 1 {  $hat: nth($which-wizard, $w) !global; }
    @else if $w == 2 {  $eyes: nth($which-wizard, $w) !global; }
    @else if $w == 3 {  $cloak: nth($which-wizard, $w) !global; }
    @else if $w == 4 {  $pants1: nth($which-wizard, $w) !global; }
    @else if $w == 5 {  $pants2: nth($which-wizard, $w) !global; }
  }

  // wizard color options
  // $blue-wizard: #dfa74a #e0dfa3 #5a82cd #43872e #a8a089;
  // $red-wizard: darkgray lime tomato gold #a8a089;

  @keyframes walking#{$DOM} {
      0%   { box-shadow: getBoxShadow($sprite1); }
      20%  { box-shadow: getBoxShadow($sprite2); }
      40%  { box-shadow: getBoxShadow($sprite3); }
      60%  { box-shadow: getBoxShadow($sprite4); }
      80%  { box-shadow: getBoxShadow($sprite5); }
  }

  .#{$DOM} {

    &:after {
      box-shadow: getBoxShadow($sprite1);
      animation: walking#{$DOM} 1s .2s steps(1) infinite;
    }
  }
}


/////////////////////////////////////-+++-
// 5. Generate the wizard - these includes trigger the mixin above
// and the first variable is the DOM element, 2nd is an array of colors
// I wrote this to handle a bunch of different wizards - but it crashes codepen.
// too many sass loops.


@include wizard(Wizard1, #dfa74a #e0dfa3 #5a82cd #43872e #a8a089);
